<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template de e-mail</title>
    <style type="text/css">
      /* base */
      @font-face {
          font-family: ralewayMedium;
          src: url('https://fonts.googleapis.com/css?family=Raleway');
      }

      body {
        font-family: 'ralewayMedium', sans-serif;
        box-sizing: border-box;
        color: #212121;
      }

      header {
        padding: 10px;
      }
      header h1{
        font-size: 3em;
        color: #34495E;
        margin: 0px;
      }
      header h3 {
        margin: 40px 0px 0px 0px;
      }

      footer {
        margin-top: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <header>
      <div style="float: right;">
        <img style="height: 102px; max-height: 103px;" src="https://dl.dropboxusercontent.com/s/b85tyy2vwtzqcvo/junior_2.png?dl=0" alt="Imagem Qualificação" />
      </div>
      <div>
        <h3>[CANDIDATE_NAME]</h4>
        <h1>Prova Técnica .NET / [CANDIDATE_LEVEL]</h1>
        <div style="color: #f9ae4c; background-color: #f9ae4c; width: 100%; height: 3px;"></div>
      </div>
    </header>

    <div class="container">
      <div class="title">
        <h2 style="padding: 10px; margin: 4px 0px 0px 0px; font-size: 1.2em;">Qualidade</h2>
      </div>
      <div class="itens">
        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/wokns334zu11woe/error.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Orientação a Objetos</label> /
              <label>[OO.NOTE]</label> /
              <label>[OO.DESCRIPTION]</label>
              <hr style="opacity: 0.2 !important;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/8b1ye3yos0nqsct/alert.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Inteligência</label> /
              <label>[INTELLIGENCE.NOTE]</label> /
              <label>[INTELLIGENCE.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/8b1ye3yos0nqsct/alert.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Tratamento de Exceções</label> /
              <label>[EXCEPTION_HANDLIND.NOTE]</label> /
              <label>[EXCEPTION_HANDLIND.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Repetição de código</label> /
              <label>[DUPLICATED_CODE.NOTE]</label> /
              <label>[DUPLICATED_CODE.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/8b1ye3yos0nqsct/alert.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Testes automatizados</label> /
              <label>[AUTOMATED_TESTS.NOTE]</label> /
              <label>[AUTOMATED_TESTS.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>
    </div>

    <div class="container">
      <div class="title">
        <h2 style="padding: 10px; margin: 4px 0px 0px 0px; font-size: 1.2em;">Manutenção</h2>
      </div>
      <div class="itens">
        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Alterar formato de entrada</label> /
              <label>[INPUT_FORMAT.NOTE]</label> /
              <label>[INPUT_FORMAT.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/wokns334zu11woe/error.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Adicionar operações</label> /
              <label>[ADD_OPERATORS.NOTE]</label> /
              <label>[ADD_OPERATORS.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Alterar o formato de saída</label> /
              <label>[ALTER_OUTPUT.NOTE]</label> /
              <label>[ALTER_OUTPUT.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/wokns334zu11woe/error.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Ano bissexto</label> /
              <label>[LEAP_YEAR.NOTE]</label> /
              <label>[LEAP_YEAR.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Testes automatizados</label> /
              <label>[MAINTAINABILITY.NOTE]</label> /
              <label>[MAINTAINABILITY.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>
    </div>

    <div class="container">
      <div class="title">
        <h2 style="padding: 10px; margin: 4px 0px 0px 0px; font-size: 1.2em;">Legibilidade</h2>
      </div>
      <div class="itens">
        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Variáveis</label> /
              <label>[VARIABLES.NOTE]</label> /
              <label>[VARIABLES.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/s5wwi2mcmwdv7f4/ok.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Métodos</label> /
              <label>[METHODS.NOTE]</label>
              <label>[METHODS.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>

        <div style="padding: 5px;">
          <img src="https://dl.dropboxusercontent.com/s/8b1ye3yos0nqsct/alert.png?dl=0" alt="Imagem de alerta" style="padding-right: 5px; float: left;" />
          <div>
              <label style="font-weight: 700;">Comentários</label> /
              <label>[COMMENTS.NOTE]</label> /
              <label>[COMMENTS.DESCRIPTION]</label>
              <hr style="opacity: 0.2;">
          </div>
        </div>
    </div>
  </body>
  <footer>
    <img src="https://dl.dropboxusercontent.com/s/4bzewvf4j6qver9/footer.png?dl=0" alt="Logo CWI" />
  </footer>
</html>
