<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template de e-mail</title>
    <link rel="stylesheet" href="style.css" charset="utf-8">
  </head>
  <body>

    <header>
      <div class="img-container">
        <img src="../../public/assets/img/levels/junior_2.png" alt="Imagem Qualificação" />
      </div>
      <div>
        <h3>Lucas Kauer</h4>
        <h1>Júnior 2</h1>
      </div>
    </header>

    <div class="container">
      <div class="title">
        <h2>Qualidade</h2>
      </div>
      <div class="itens">
        <div class="item">
          <img src="../../public/assets/img/icons/error.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Orientação a Objetos</label> /
              <label>1 - Não atende ao requisito</label> /
              <label>Dividiu as operações em alguns métodos, porém executa de forma procedural.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/alert.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Inteligência</label> /
              <label>3 - Normal</label> /
              <label>O código inteiro possui fluxos bem distintos para adição e subtração, mas separou bem o código.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/alert.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Tratamento de Exceções</label> /
              <label>3 - Normal</label> /
              <label>Valida o operador e o formato da data informado, mas não impede número de dias, meses e anos inválidos.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Repetição de código</label> /
              <label>5 - Excelente</label> /
              <label>O código não se repete, bem encapsulado e separado.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/alert.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Testes automatizados</label> /
              <label>3 - Normal</label> /
              <label>Escreveu 10 testes unitários, mas muitos usando o mesmo modificador.</label>
              <hr>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="title">
        <h2>Manutenção</h2>
      </div>
      <div class="itens">
        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Alterar formato de entrada</label> /
              <label>4 - Acima do desejado</label> /
              <label>Local único e está simples, mas não validado.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/error.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Adicionar operações</label> /
              <label>2 - Abaixo da média</label> /
              <label>Seria necessário nova implementação de forma completa.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Alterar o formato de saída</label> /
              <label>4 - Acima do desejado</label> /
              <label>Encapsula a formatação em um método.  </label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/error.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Ano bissexto</label> /
              <label>1 - Não atende ao requisito</label> /
              <label>O número de dias está fixo e não há nenhum verificador.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Testes automatizados</label> /
              <label>62 % de acertos</label>
              <hr>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="title">
        <h2>Legibilidade</h2>
      </div>
      <div class="itens">
        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Variáveis</label> /
              <label>4 - Acima do desejado</label> /
              <label>Os nomes das variáveis são bons e fazem o que propõe.</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/ok.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Métodos</label> /
              <label>4 - Acima do desejado</label>
              <hr>
          </div>
        </div>

        <div class="item">
          <img src="../../public/assets/img/icons/alert.png" alt="Imagem de alerta" />
          <div>
              <label class="item-name">Comentários</label> /
              <label>3 - Normal</label> /
              <label>Poderia ser muito melhor a separação e reaproveitamento.</label>
              <hr>
          </div>
        </div>
    </div>
  </body>
  <footer>
    <img src="../../public/assets/img/cwi/footer.png" alt="Logo CWI" />
  </footer>
</html>
