/* base */
@font-face {
    font-family: ralewayMedium;
    src: url('../../public/assets/fonts/Raleway-Medium.ttf');
}

body {
  font-family: 'ralewayMedium', sans-serif;
  box-sizing: border-box;
  color: #212121;
}

header {
  background-color: #B2EBF2;
  padding: 10px;
  height: 140px;
}
header .img-container {
  float: right;
}
header h1{
  font-size: 3em;
  color: #34495E;
}

footer {
  margin-top: 20px;
  text-align: center;
}

hr {
    opacity: 0.2;
}

/* Detalhes */
.title h2 {
  padding: 10px;
  margin: 4px 0px 0px 0px;
  font-size: 1.2em;
}

.item {
  padding: 5px;
}
.item img {
  padding-right: 5px;
  float: left;
}
.item .item-name {
  font-weight: 700;
}
.item label span {
  font-weight: normal;
}
