<!DOCTYPE html>
<html>
<head>
	<title>CWI - Test</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/base.css">
</head>
<body>
	<h3>CWI Test</h3>

	<div class="container">
		<div class="row">
			<form>
				<div class="form-group">
			    	<label>Nome do candidato:</label>
			    	<input type="text" class="form-control" placeholder="Nome do candidato">
			  	</div>

			  	<h4>Qualidade:</h4>

			  	<div class="form-group col-sm-6">
			    	<label>Orientação a objetos:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Inteligência:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Tratamento de Exceções:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Repetição de código:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Testes automatizados:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>0 - Péssimo</option>
					  <option>20 - Ruim</option>
					  <option>50 - OK</option>
					  <option>70 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<h4>Manutenção:</h4>

			  	<div class="form-group col-sm-6">
			    	<label>Alterar formato de entrada:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Adicionar operações:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Alterar o formato de saída:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Ano bissexto:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Manutenabilidade:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>0 - Péssimo</option>
					  <option>20 - Ruim</option>
					  <option>50 - OK</option>
					  <option>70 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<h4>Legibilidade:</h4>

			  	<div class="form-group col-sm-6">
			    	<label>Variaveis:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Métodos:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Comentários:</label>
			    	<select class="form-control">
			    	  <option>Selecione</option>
					  <option>1 - Não atende ao requisito</option>
					  <option>2 - Abaixo da média</option>
					  <option>3 - Normal</option>
					  <option>4 - Acima do desejado</option>
					  <option>5 - Excelente</option>
					</select>					
			  	</div>

			  	<div class="form-group col-sm-6">
			    	<label>Observação:</label>
			    	<textarea class="form-control" rows="1"></textarea>
			  	</div>

			  	<div class="form-group">
			  		<button type="button" class="btn btn-success">Enviar</button>	
			  	</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>	
</body>
</html>