<!DOCTYPE html>
<html ng-app="testCenter">
<head>
  <title>CWI - Test</title>
  <link rel="stylesheet" type="text/css" href="vendor/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/base.css">
</head>
<body ng-controller="homeController as homeCtrl">

  <header>
    <div class="row">
      <div class="col-md-8">
        <h3>Test Center</h3>
      </div>
    </div>
  </header>

  <div class="main">
    <md-content id="content">
      <form name="testForm" method="post">
        <md-tabs md-dynamic-height="" md-border-bottom="">

          <md-tab label="Candidato">
            <md-content class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Nome</label>
                  <input ng-model="homeCtrl.test.name" required>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Resultado dos testes</label>
                  <md-select ng-model="homeCtrl.test.result.unitTests.note" required>
                    <md-option ng-repeat="option in homeCtrl.automatedTestsOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.result.unitTests.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Qualidade">
            <md-content class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Orientação a objetos</label>
                  <md-select ng-model="homeCtrl.test.quality.oo.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.quality.oo.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Inteligência</label>
                  <md-select ng-model="homeCtrl.test.quality.intelligence.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.quality.intelligence.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Tratamento de Exceções</label>
                  <md-select ng-model="homeCtrl.test.quality.exceptionHandling.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.quality.exceptionHandling.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Repetição de código</label>
                  <md-select ng-model="homeCtrl.test.quality.duplicatedCode.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.quality.duplicatedCode.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Testes automatizados</label>
                  <md-select ng-model="homeCtrl.test.quality.automatedTests.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.quality.automatedTests.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Manutenção">
            <md-content class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Alterar formato de entrada</label>
                  <md-select ng-model="homeCtrl.test.maintainability.inputFormat.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.maintainability.inputFormat.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Adicionar operações</label>
                  <md-select ng-model="homeCtrl.test.maintainability.addOperators.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.maintainability.addOperators.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Alterar o formato de saída</label>
                  <md-select ng-model="homeCtrl.test.maintainability.alterOutput.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.maintainability.alterOutput.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Ano bissexto</label>
                  <md-select ng-model="homeCtrl.test.maintainability.leapYear.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.maintainability.leapYear.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Índice de Manutenabilidade</label>
                  <md-select ng-model="homeCtrl.test.maintainability.maintainability.note" required>
                    <md-option ng-repeat="option in homeCtrl.automatedTestsOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.maintainability.maintainability.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Legibilidade">
            <md-content class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Variaveis</label>
                  <md-select ng-model="homeCtrl.test.readability.variables.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.readability.variables.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Métodos</label>
                  <md-select ng-model="homeCtrl.test.readability.methods.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.readability.methods.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Comentários</label>
                  <md-select ng-model="homeCtrl.test.readability.comments.note" required>
                    <md-option ng-repeat="option in homeCtrl.defaultOptions" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Descrição</label>
                  <textarea ng-model="homeCtrl.test.readability.comments.description" md-maxlength="100" rows="3" required></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Revisar" ng-disabled="!testForm.$valid">
            <md-content class="md-padding">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Nível</label>
                  <md-select ng-model="homeCtrl.test.level">
                    <md-option ng-repeat="option in homeCtrl.levels" value="{{option.value}}">
                      {{option.text}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Observação Final</label>
                  <textarea name="feedback" ng-model="homeCtrl.test.feedback" md-maxlength="100" rows="3"></textarea>
                </md-input-container>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Visualizar" ng-disabled="!homeCtrl.canPreview()" md-on-select="homeCtrl.preview()">
            <md-content class="md-padding">
              <div class="container">
                <iframe id="preview" style="display: none"></iframe>
              </div>
            </md-content>
          </md-tab>

          <md-tab label="Concluir" ng-disabled="!homeCtrl.canPreview()">
            <md-content class="md-padding">
              <div class="jumbotron">
                <h4>Quase lá!</h4>
                <p>Aqui você confirma sua correção. Ao finalizar, o resultado será enviado por e-mail para todos os participantes do processo de seleção. Se necessário você pode revisar sua correção.</p>                
                <md-button class="md-raised md-cornered" ng-click="homeCtrl.sendTest()">Finalizar</md-button>
              </div>
            </md-content>
          </md-tab>

        </md-tabs>
      </form>
    </md-content>
  </div>

  <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-aria/angular-aria.js"></script>
  <script src="vendor/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular-material/angular-material.min.js"></script>

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="config/urlSettingsFactory.js"></script>

  <script type="text/javascript" src="test/testService.js"></script>

  <script type="text/javascript" src="home/homeController.js"></script>
</body>
</html>
